<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <div class="wrap bg-white mx-auto w-[360px] pl-6 pr-6">
      <section class="orderDetails">
        <h2>주문 내역</h2>
        <table class="w-full mt-4">
          <tr>
            <td class="relative">
              상품금액<span
                class="flex items-center justify-center cursor-pointer bg-black text-white w-4 h-4 rounded-xl text-sm absolute top-1 left-14"
                >?</span
              >
            </td>
            <td class="text-right pl-4">189,000원</td>
          </tr>
          <tr>
            <td>배송비</td>
            <td class="text-right pl-4">무료</td>
          </tr>
          <tr>
            <td>총 결제 금액</td>
            <td class="text-right pl-4">189,000원</td>
          </tr>
        </table>
      </section>
    </div>
  </body>
</html>
