<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../style.css" />
  </head>
  <body>
    <section class="wishList">
      <h2>위시 리스트</h2>
      <div class="wish">
        <img src="NikeTest.png" alt="운동화" />
        <div class="productInfo">
          <p class="price">189,000원</p>
          <p class="name">Nike Air Max 270</p>
          <p class="target">남성 신발</p>
          <table>
            <tr>
              <td>사이즈</td>
              <td>수량</td>
            </tr>
            <tr>
              <td>275</td>
              <td>1</td>
            </tr>
          </table>
        </div>
        <button type="button">장바구니에 추가</button>
      </div>
      <div class="wish">
        <img src="NikeTest.png" alt="운동화" />
        <div class="productInfo">
          <p class="price">189,000원</p>
          <p class="name">Nike Air Max 270</p>
          <p class="target">남성 신발</p>
          <table>
            <tr>
              <td>사이즈</td>
              <td>수량</td>
            </tr>
            <tr>
              <td>275</td>
              <td>1</td>
            </tr>
          </table>
        </div>
        <button type="button">장바구니에 추가</button>
      </div>
      <a class="moreButton" href="#">위리리스트 상품 모두 보기</a>
    </section>
  </body>
</html>
