<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nike-header</title>
    <link rel="stylesheet" href="/src/style.css" />
  </head>
  <body>
    <div class="m-0 font-sans">
      <!-- Modal 창 -->
      <div id="Pop" class="absolute z-<1> hidden">
        <section class="w-[310px] shrink-0 ml-[50px] pb-[162px] bg-white">
          <div class="pl-[42px]">
            <a href="javascript:ViewLayer();" class="flex justify-end p-[18px]">
              <svg
                width="29"
                height="29"
                viewBox="0 0 29 29"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="14.5" cy="14.5" r="14.5" fill="#E5E5E5" />
                <path d="M6 7L21.9995 23" stroke="#111111" stroke-width="2" />
                <path d="M22 7L6.0005 23" stroke="#111111" stroke-width="2" />
              </svg>
            </a>
            <button
              class="text-[16px] rounded-4xl px-3.5 py-1.5 my-[19px] mr-4 bg-black"
            >
              <a href="/src/components/Login/authority.html" class="text-white"
                >가입하기</a
              >
            </button>
            <button
              class="text-[16px] rounded-4xl px-3.5 py-1.5 my-[19px] mr-4 bg-white border-gray-300 border"
            >
              <a href="/src/components/Login/log-in.html" class="text-black"
                >로그인</a
              >
            </button>
          </div>
          <div>
            <div id="container1" class="m-0 flex flex-col pl-[42px]">
              <li class="flex font-normal justify-between items-center py-4">
                <details class="font-medium text-2xl/normal">
                  <summary class="text-2xl list-none flex items-center gap-2">
                    <p class="font-semibold">New & Featured</p>
                  </summary>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    비슷한 금액의 요금이 중복 청구 된 경우 아래와 같이 생각하실
                    수 있습니다.
                  </p>
                  <ol
                    class="py-[15px] text-[13px] font-normal text-gray-500 p-0 m-0"
                  >
                    1. 가족 또는 지인이 동일한 카드를 등록하여 사용하지 않았는지
                    확인해보세요.
                  </ol>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    [고객지원 > 여정 및 요금 > 내 요금 및 수수료 검토 > 미터기
                    요금을 중복으로 결제하였습니다]
                  </p>
                </details>
                <svg
                  class="mr-5 float-end justify-end items-start h-6 w-6 shrink-0"
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.707031 0.707031L9.19231 9.19231L0.707031 17.6776"
                    stroke="#111111"
                    stroke-width="2"
                  />
                </svg>
              </li>
              <li class="flex font-normal justify-between items-center py-4">
                <details class="font-medium text-2xl/normal">
                  <summary class="text-2xl list-none flex items-center gap-2">
                    <p class="font-semibold">Men</p>
                  </summary>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    비슷한 금액의 요금이 중복 청구 된 경우 아래와 같이 생각하실
                    수 있습니다.
                  </p>
                  <ol
                    class="py-[15px] text-[13px] font-normal text-gray-500 p-0 m-0"
                  >
                    1. 가족 또는 지인이 동일한 카드를 등록하여 사용하지 않았는지
                    확인해보세요.
                  </ol>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    [고객지원 > 여정 및 요금 > 내 요금 및 수수료 검토 > 미터기
                    요금을 중복으로 결제하였습니다]
                  </p>
                </details>
                <svg
                  class="mr-5 float-end justify-end items-start h-6 w-6 shrink-0"
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.707031 0.707031L9.19231 9.19231L0.707031 17.6776"
                    stroke="#111111"
                    stroke-width="2"
                  />
                </svg>
              </li>
              <li class="flex font-normal justify-between items-center py-4">
                <details class="font-medium text-2xl/normal">
                  <summary class="text-2xl list-none flex items-center gap-2">
                    <p class="font-semibold">Women</p>
                  </summary>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    비슷한 금액의 요금이 중복 청구 된 경우 아래와 같이 생각하실
                    수 있습니다.
                  </p>
                  <ol
                    class="py-[15px] text-[13px] font-normal text-gray-500 p-0 m-0"
                  >
                    1. 가족 또는 지인이 동일한 카드를 등록하여 사용하지 않았는지
                    확인해보세요.
                  </ol>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    [고객지원 > 여정 및 요금 > 내 요금 및 수수료 검토 > 미터기
                    요금을 중복으로 결제하였습니다]
                  </p>
                </details>
                <svg
                  class="mr-5 float-end justify-end items-start h-6 w-6 shrink-0"
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.707031 0.707031L9.19231 9.19231L0.707031 17.6776"
                    stroke="#111111"
                    stroke-width="2"
                  />
                </svg>
              </li>
              <li class="flex font-normal justify-between items-center py-4">
                <details class="font-medium text-2xl/normal">
                  <summary class="text-2xl list-none flex items-center gap-2">
                    <p class="font-semibold">Kids</p>
                  </summary>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    비슷한 금액의 요금이 중복 청구 된 경우 아래와 같이 생각하실
                    수 있습니다.
                  </p>
                  <ol
                    class="py-[15px] text-[13px] font-normal text-gray-500 p-0 m-0"
                  >
                    1. 가족 또는 지인이 동일한 카드를 등록하여 사용하지 않았는지
                    확인해보세요.
                  </ol>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    [고객지원 > 여정 및 요금 > 내 요금 및 수수료 검토 > 미터기
                    요금을 중복으로 결제하였습니다]
                  </p>
                </details>
                <svg
                  class="mr-5 float-end justify-end items-start h-6 w-6 shrink-0"
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.707031 0.707031L9.19231 9.19231L0.707031 17.6776"
                    stroke="#111111"
                    stroke-width="2"
                  />
                </svg>
              </li>
              <li class="flex font-normal justify-between items-center py-4">
                <details class="font-medium text-2xl/normal">
                  <summary class="text-2xl list-none flex items-center gap-2">
                    <p class="font-semibold">Sale</p>
                  </summary>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    비슷한 금액의 요금이 중복 청구 된 경우 아래와 같이 생각하실
                    수 있습니다.
                  </p>
                  <ol
                    class="py-[15px] text-[13px] font-normal text-gray-500 p-0 m-0"
                  >
                    1. 가족 또는 지인이 동일한 카드를 등록하여 사용하지 않았는지
                    확인해보세요.
                  </ol>
                  <p class="py-[15px] text-[13px] font-normal text-gray-500">
                    [고객지원 > 여정 및 요금 > 내 요금 및 수수료 검토 > 미터기
                    요금을 중복으로 결제하였습니다]
                  </p>
                </details>
                <svg
                  class="mr-5 float-end justify-end items-start h-6 w-6 shrink-0"
                  width="11"
                  height="19"
                  viewBox="0 0 11 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.707031 0.707031L9.19231 9.19231L0.707031 17.6776"
                    stroke="#111111"
                    stroke-width="2"
                  />
                </svg>
              </li>
            </div>
            <div id="container2" class="mt-7">
              <div
                class="flex w-[320px] py-2 pr-[174px] pl-[39px] items-center gap-3"
              >
                <svg
                  width="21"
                  height="21"
                  viewBox="0 0 21 21"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10.49 16.5V15M7.5 8.25C7.50027 7.71339 7.64447 7.18668 7.91756 6.72476C8.19065 6.26284 8.58264 5.88262 9.05266 5.62373C9.52269 5.36485 10.0536 5.23678 10.5899 5.25286C11.1263 5.26895 11.6485 5.4286 12.1022 5.71519C12.5559 6.00177 12.9244 6.4048 13.1693 6.88225C13.4142 7.35971 13.5266 7.89411 13.4947 8.42978C13.4628 8.96544 13.2878 9.48274 12.988 9.92777C12.6882 10.3728 12.2745 10.7293 11.79 10.96C11.01 11.33 10.5 12.12 10.5 12.99V13.5M20.25 10.5C20.25 15.885 15.885 20.25 10.5 20.25C5.115 20.25 0.75 15.885 0.75 10.5C0.75 5.115 5.115 0.75 10.5 0.75C15.885 0.75 20.25 5.115 20.25 10.5Z"
                    stroke="#111111"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                  />
                </svg>
                <p><a href="">고객센터</a></p>
              </div>
              <div
                class="flex w-[320px] py-2 pr-[174px] pl-[39px] items-center gap-3"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5.25 5.25V3C5.25 2.40326 5.48705 1.83097 5.90901 1.40901C6.33097 0.987053 6.90326 0.75 7.5 0.75H10.5C11.0967 0.75 11.669 0.987053 12.091 1.40901C12.5129 1.83097 12.75 2.40326 12.75 3C12.75 3.59674 12.5129 4.16903 12.091 4.59099C11.669 5.01295 11.0967 5.25 10.5 5.25H0.75V13.5C0.75 14.4946 1.14509 15.4484 1.84835 16.1517C2.55161 16.8549 3.50544 17.25 4.5 17.25H13.5C14.4946 17.25 15.4484 16.8549 16.1517 16.1517C16.8549 15.4484 17.25 14.4946 17.25 13.5V5.25H14.5"
                    stroke="#111111"
                    stroke-width="1.5"
                  />
                </svg>
                <p><a href="">장바구니</a></p>
              </div>
              <div
                class="flex w-[320px] py-2 pr-[174px] pl-[39px] items-center gap-3"
              >
                <svg
                  width="18"
                  height="18"
                  viewBox="0 0 18 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M9 10.5V3.5C9 1.76 10.01 0.75 11.25 0.75H15.64L17.25 6.75M17.25 6.75H0.75M17.25 6.75V17.25H0.75V6.75M0.75 6.75L2.36 0.75H7.5"
                    stroke="#111111"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                  />
                </svg>
                <p><a href="">주문</a></p>
              </div>
              <div
                class="flex w-[320px] py-2 pr-[174px] pl-[39px] items-center gap-3"
              >
                <svg
                  width="21"
                  height="15"
                  viewBox="0 0 21 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18.75 0.75V12C18.75 13.24 17.74 14.25 16.5 14.25H4.5C3.26 14.25 2.25 13.24 2.25 12V0.75M6.75 14V6.75H14.25V14M10.5 6.75V14M0 0.75H21"
                    stroke="#111111"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                  />
                </svg>
                <p><a href="">매장 찾기</a></p>
              </div>
            </div>
          </div>
        </section>
        <!-- <div class="w-[360px] h-[816px] bg-gray-600 opacity-30 float-start"></div> -->
      </div>
      <!-- 헤더 창 -->
      <headers
        class="pl-[23px] w-[360px] h-[60px] inline-flex shrink-0 flex-row justify-between items-center bg-white"
      >
        <!--로고 아이콘-->
        <svg
          width="59"
          height="21"
          viewBox="0 0 59 21"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M58.854 0L15.8132 18.2574C12.2297 19.7777 9.21516 20.5363 6.78586 20.5363C4.05249 20.5363 2.06131 19.5717 0.83849 17.6459C-0.747258 15.1611 -0.0541062 11.1656 2.66619 6.94786C4.28136 4.4826 6.33466 2.22005 8.33564 0.0555836C7.86482 0.820666 3.70918 7.73584 8.25391 10.9923C9.15304 11.6463 10.4314 11.9667 12.0041 11.9667C13.2662 11.9667 14.7146 11.7607 16.3069 11.3455L58.854 0Z"
            fill="#111111"
          />
        </svg>

        <div class="flex items-center gap-5 pr-6 pl-[90px]">
          <!--검색 아이콘-->
          <svg
            width="18"
            height="18"
            viewBox="0 0 18 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.962 13.296C9.91599 13.9224 8.71921 14.2521 7.50001 14.25C6.6134 14.2512 5.7353 14.0772 4.91618 13.7379C4.09707 13.3986 3.35308 12.9008 2.72701 12.273C2.09924 11.6469 1.6014 10.9029 1.26212 10.0838C0.922837 9.26471 0.748797 8.38661 0.750006 7.50001C0.750006 5.63601 1.50501 3.94901 2.72701 2.72701C3.35308 2.09924 4.09707 1.6014 4.91618 1.26212C5.7353 0.922837 6.6134 0.748797 7.50001 0.750006C9.36401 0.750006 11.051 1.50501 12.273 2.72701C12.9008 3.35308 13.3986 4.09707 13.7379 4.91618C14.0772 5.7353 14.2512 6.6134 14.25 7.50001C14.2517 8.69741 13.9338 9.87357 13.329 10.907C12.812 11.789 12.895 12.895 13.618 13.618L17.471 17.471"
              stroke="#111111"
              stroke-width="1.5"
            />
          </svg>
          <!--로그인 아이콘-->
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3.75 21V18C3.75 17.0054 4.14509 16.0516 4.84835 15.3483C5.55161 14.6451 6.50544 14.25 7.5 14.25H16.5C17.4946 14.25 18.4484 14.6451 19.1517 15.3483C19.8549 16.0516 20.25 17.0054 20.25 18V21M12 3.75C11.0054 3.75 10.0516 4.14509 9.34835 4.84835C8.64509 5.55161 8.25 6.50544 8.25 7.5C8.25 8.49456 8.64509 9.44839 9.34835 10.1517C10.0516 10.8549 11.0054 11.25 12 11.25C12.9946 11.25 13.9484 10.8549 14.6517 10.1517C15.3549 9.44839 15.75 8.49456 15.75 7.5C15.75 6.50544 15.3549 5.55161 14.6517 4.84835C13.9484 4.14509 12.9946 3.75 12 3.75Z"
              stroke="#111111"
              stroke-width="1.5"
            />
          </svg>
          <!--장바구니 아이콘-->
          <!--이 svg에 장바구니 내부 갯수와 연동되는 링크있음-->
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.25 8.25V6C8.25 5.40326 8.48705 4.83097 8.90901 4.40901C9.33097 3.98705 9.90326 3.75 10.5 3.75H13.5C14.0967 3.75 14.669 3.98705 15.091 4.40901C15.5129 4.83097 15.75 5.40326 15.75 6C15.75 6.59674 15.5129 7.16903 15.091 7.59099C14.669 8.01295 14.0967 8.25 13.5 8.25H3.75V16.5C3.75 17.4946 4.14509 18.4484 4.84835 19.1517C5.55161 19.8549 6.50544 20.25 7.5 20.25H16.5C17.4946 20.25 18.4484 19.8549 19.1517 19.1517C19.8549 18.4484 20.25 17.4946 20.25 16.5V8.25H17.5"
              stroke="#111111"
              stroke-width="1.5"
            />
            <path
              d="M10.1219 11.369C10.3379 11.369 10.5479 11.351 10.7519 11.315C10.9559 11.279 11.1389 11.219 11.3009 11.135C11.4689 11.051 11.6099 10.943 11.7239 10.811C11.8439 10.679 11.9219 10.517 11.9579 10.325H12.7949V16.625H11.6699V12.179H10.1219V11.369Z"
              fill="#111111"
            />
            <a
              href="https://www.figma.com/design/ljNayoxlhNbIbkSaRG6bEc?node-id=8-902"
            >
              <rect
                fill="black"
                fill-opacity="0"
                x="0.154637"
                y="2.3805"
                width="5.004"
                height="10.989"
              />
            </a>
          </svg>
          <!--더보기 메뉴 아이콘-->
          <a href="javascript:ViewLayer();">
            <svg
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M21 5.25H3M21 12H3M21 18.75H3"
                stroke="#111111"
                stroke-width="1.5"
              />
            </svg>
          </a>
        </div>
      </headers>
      <!-- modal 창 기능 스크립트(임시) -->
      <script>
        function ViewLayer() {
          //만일 Pop라는 녀석이 닫혀있다면??
          if (document.getElementById('Pop').style.display == 'none') {
            //열어주어라
            document.getElementById('Pop').style.display = 'inline'; //그렇지 않은 모든 경우라면??
          } else {
            //닫아주어라
            document.getElementById('Pop').style.display = 'none';
          }
        }
      </script>
      <script type="module" src="/src/main.ts"></script>
    </div>
  </body>
</html>
