<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nike-header</title>
    <!-- <link rel="stylesheet" href="/src/components/Login/log-in.css" /> -->
    <style>
      body {
        font-family: Pretendard;
      }
    </style>
  </head>
  <body class="w-[360px] h-[720px] m-0 p-0">
    <div id="loginEmail" class="py-5 px-9">
      <a href="/index.html">
        <svg
          class="mb-5"
          width="76"
          height="60"
          viewBox="0 0 76 60"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M67.854 20L24.8132 38.2574C21.2297 39.7777 18.2152 40.5363 15.7859 40.5363C13.0525 40.5363 11.0613 39.5717 9.83849 37.6459C8.25274 35.1611 8.94589 31.1656 11.6662 26.9479C13.2814 24.4826 15.3347 22.22 17.3356 20.0556C16.8648 20.8207 12.7092 27.7358 17.2539 30.9923C18.153 31.6463 19.4314 31.9667 21.0041 31.9667C22.2662 31.9667 23.7146 31.7607 25.3069 31.3455L67.854 20Z"
            fill="#111111"
          />
        </svg>
      </a>
      <h1 class="text-[28px] font-normal leading-8 m-0 mb-7">
        이제 나이키 멤버가 되어<br />
        볼까요?
      </h1>
      <form id="signup-form" action="#" method="post">
        <fieldset>
          <div class="flex gap-3 mb-5">
            <div class="flex flex-col gap-3">
              <input
                type="text"
                placeholder="이름*"
                id="id"
                name="name"
                class="w-[138px] h-14 shrink-0 rounded-xl border border-gray-500 text-[16px] flex pl-3"
              />
              <div></div>
            </div>
            <input
              type="text"
              placeholder="성"
              class="w-[138px] h-14 shrink-0 rounded-xl border border-gray-500 text-[16px] flex pl-3"
            />
          </div>
          <div class="flex flex-col gap-5">
            <input
              type="password"
              placeholder="비밀번호*"
              minlength="8"
              id="pw"
              name="password"
              class="w-[288px] h-14 shrink-0 rounded-xl border border-gray-500 text-[16px] flex pl-3"
            />
            <div class="text-orange-600"></div>
            <div name="notice" class="flex flex-col gap-2 mb-5">
              <p class="text-gray-400 text-[12px] font-normal leading-[18px]">
                X 최소 8자
              </p>
              <p class="text-green-600 text-[12px] font-normal leading-[18px]">
                V 최소 8자
              </p>
              <p class="text-gray-400 text-[12px] font-normal leading-[18px]">
                X 알파벳 대문자 및 소문자 조합, 최소 1개 이상의 숫자
              </p>
              <p class="text-green-600 text-[12px] font-normal leading-[18px]">
                V 알파벳 대문자 및 소문자 조합, 최소 1개 이상의 숫자
              </p>
            </div>
          </div>
          <div name="dateBox" class="flex justify-between items-center">
            <input
              type="date"
              data-placeholder="생년월일"
              name="birthday"
              alt="/src/assets/svg/Icon24px.svg"
              class="w-[288px] h-14 shrink-0 rounded-xl border border-gray-500 text-[16px] flex pl-3 mb-5"
            />
            <img src="/src/assets/svg/Icon24px.svg" class="relative pr-4" />
          </div>
          <div class="flex gap-3 items-center mb-12">
            <input
              type="checkbox"
              class="w-6 h-6 shrink-0 rounded-2xl border-gray-400 text-[16px] flex pl-4"
            />
            <span class="w-[254px] text-[16px] font-normal leading-6 mt-0.5">
              나이키의
              <span class="underline font-bold">개인정보 처리방침</span> 및
              <span class="underline font-bold">이용약관</span>에 동의합니다.
            </span>
          </div>
          <button
            type="submit"
            class="w-[288px] text-[16px] font-medium leading-7 bg-black text-white rounded-4xl py-3 px-[30px] cursor-pointer"
          >
            계정 만들기
          </button>
        </fieldset>
      </form>
    </div>
    <script type="module" src="/src/main.ts"></script>
    <script type="module" src="/src/pages/user/signup.ts"></script>
    <script></script>
  </body>
</html>
