body {
  width: 360px;
  height: 720px;
  margin: 0px;
  padding: 0px;
}
.loginEmail {
  padding: 20px 36px;

  svg {
    margin-bottom: 20px;
  }

  h1 {
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin: 0px;
    margin-bottom: 28px;
  }

  input {
    width: 288px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 8px;
    border-color: lightgray;
    font-size: 16px;

    display: flex;
    padding-left: 12px;
    margin-bottom: 46px;
  }

  p {
    color: #757575;

    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

    margin-bottom: 40px;

    span {
      text-decoration: underline;
    }
  }

  button {
    text-align: center;
    font-family: 'Noto Sans KR';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 12px 30px;

    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
